.nav {
  background-color: #083d49;
  color: whitesmoke;
  font-family: "Pacifico", cursive;
  //font-family: 'Reggae One', cursive;
  font-size: 30px;
}

.content {
  width: 100%;
  height: calc(100% - 64px);

  &__container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.example-card {
  margin: 0 25% 0 25%;
  top: 50px;
  min-height: 400px;
  min-width: 400px;
  font-size: 18px;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.btn {
  background-color: lightgrey;
}

.mat-expansion-panel-header {
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.mat-list {
  .mat-list-item {
    padding: 10px 0 10px 0;
    height: auto;
    font-family: "GothamPro", "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 28px;
    cursor: pointer;
    .mat-list-item-content {
      height: 100% !important;
    }
  }
  .mat-list-item:hover {
    background-color: lightgray;
  }
}
