<mat-toolbar class="nav">
  <button
    mat-button
    mat-icon-button
    class="example-icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToEdit()">
      Редактирование базы знаний
    </button>
  </mat-menu>
  <span>Планирование путешествия</span>
</mat-toolbar>

<div class="content">
  <div class="content__container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title *ngIf="!question?.isEnd">{{
          question?.text
        }}</mat-card-title>
        <mat-card-title *ngIf="question?.isEnd">Решение:</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="!question?.isEnd">
          <mat-action-list role="list" *ngIf="!isLoading">
            <button
              mat-list-item
              *ngFor="let answer of answers"
              (click)="select(answer.idTo)"
            >
              {{ answer?.text }}
            </button>
          </mat-action-list>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <div
          *ngIf="question?.isEnd"
          style="
            text-align: center;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
            font-size: 30px;
          "
        >
          {{ question?.text }}
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-button
          class="btn"
          style="margin-right: 20px"
          (click)="onStart()"
        >
          Начать сначала
        </button>
        <button
          mat-button
          class="btn"
          style="margin-right: 20px"
          (click)="viewHint()"
        >
          Помощь
        </button>
        <button
          mat-button
          class="btn"
          *ngIf="!question?.isFirst"
          (click)="back()"
        >
          Назад
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
